# Requires Python >= 3.9

astropy==7.2.0
matplotlib==3.11.0
numpy==2.4.6
pandas==3.0.3
scipy==1.17.1
stixdcpy==3.0
torch==2.11.0

aioftp==0.21.4
aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.11.2
cdflib==0.4.9
certifi==2022.12.7
charset-normalizer==3.0.1
ChiantiPy==0.15.0
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
drms==0.6.3
fonttools==4.38.0
frozenlist==1.3.3
gunzip==0.1.10
h5netcdf==1.1.0
h5py==3.8.0
HelioPy==1.0.0
idna==3.4
isodate==0.6.1
joblib==1.2.0
kiwisolver==1.4.4
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.2
microapp==0.3.15
multidict==6.0.4
packaging==23.0
parfive==2.0.2
pdoc3==0.10.0
Pillow==9.4.0
platformdirs==3.0.0
pyerfa>=2.0.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
reproject==0.10.0
requests==2.28.2
requests-file==1.5.1
requests-toolbelt==0.10.1
six==1.16.0
soupsieve==2.3.2.post1
stixpy==0.1.0rc2
sunpy>=4.1.2
threadpoolctl==3.1.0
tqdm==4.64.1
urllib3==1.26.14
yarl==1.8.2
zeep==4.2.1

